<div class="wrapper d-flex justify-content-center">
    <div class="logos w-75">
        <div class="content-top row">
            <div class="logo col-md-4">
                Incyte Logo
            </div>
            <div class="header col-md-8">
                <div class="title">
                    MDM Portal
                </div>
                <div class="button">
                    <div class="btn btn-primary btn-lg col-md-4" [routerLink]="[ '/auth/login' ]">
                        ENTER <i class="icon ion-md-arrow-dropright float-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-middle d-flex justify-content-center">
            <div class="content-body col-md-11 align-self-center">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe voluptatem adipisci vitae
                    officiis nesciunt qui
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe voluptatem adipisci vitae
                    officiis nesciunt qui, omnis eveniet? Doloribus saepe quas natus iusto, expedita numquam eveniet a
                    consequuntur ad animi?
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe voluptatem adipisci vitae
                    officiis nesciunt qui, omnis eveniet? Doloribus saepe quas natus iusto, expedita numquam eveniet a
                    consequuntur ad animi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe
                    voluptatem adipisci vitae
                    officiis nesciunt qui, omnis eveniet? Doloribus saepe quas natus iusto, expedita numquam eveniet a
                    consequuntur ad animi?
                </p>
            </div>
        </div>
        <div class="content-bottom mb-5">
            <div class="card">
                <div class="card-body row">
                    <div class="content col-md-6 col-lg-5 d-flex justify-content-center">
                        <div class="align-self-center">
                            <h3>Tech Support</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat
                                veniam eligendi
                                minima. Voluptate possimus</p>
                        </div>
                    </div>
                    <div class="content col-md-6 col-lg-4 d-flex justify-content-center">
                        <p class="align-self-center">Need immediate support? <br>(101) 999-9999</p>
                    </div>
                    <div class="content col-md-12 col-lg-3 d-flex justify-content-center">
                        <div class="btn btn-lg btn-secondary align-self-center"> Email Support &gt; </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
