<app-navigation></app-navigation>
<div class="home-wrapper">
    <div class="inner-content">
        <div class="pb-5">
            <app-search-bar></app-search-bar>
        </div>
        <div class="modal-top row">
            <div class="modal-left col-md-12 pb-1">
                <!-- <div class="title">
                    <p>
                        <i class="icon ion-md-chatboxes"></i> Requests:
                    </p>
                </div> -->
                <div class="title row">
                    <div class="col-md-6 text-left">
                        <p>
                            <i class="icon ion-md-chatboxes"></i> Requests:
                        </p>
                    </div>
                    <div class="col-md-6 text-right text-primary d-flex justify-content-end flex-column">
                        <p>
                            <u>All Requests ></u>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-left col-md-12 pb-5">
                <app-request-card></app-request-card>
            </div>
        </div>
        <div class="modal-full py-4 d-flex justify-content-between flex-column flex-md-row">

            <app-messages-card></app-messages-card>

            <div class="quick-links col-md-5">
                <div class="title">
                    <p>
                        <i class="icon ion-md-link"></i>
                        Quick Links
                    </p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-column">
                            <div class="btn btn-primary btn-lg my-1">Browse Full List of HCPs <i class="icon ion-md-arrow-dropright float-right"></i></div>
                            <div class="btn btn-primary btn-lg my-1">Browse Full List of ORGs <i class="icon ion-md-arrow-dropright float-right"></i></div>
                            <div class="btn btn-primary btn-lg my-1">Targeting <i class="icon ion-md-arrow-dropright float-right"></i></div>
                            <div class="btn btn-primary btn-lg my-1">Affiliations <i class="icon ion-md-arrow-dropright float-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-tech">
            <div class="card">
                <div class="card-body row">
                    <div class="content col-md-6 col-lg-5 d-flex justify-content-center">
                        <div class="align-self-center">
                            <h3>Tech Support</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat
                                veniam eligendi
                                minima. Voluptate possimus</p>
                        </div>
                    </div>
                    <div class="content col-md-6 col-lg-4 d-flex justify-content-center">
                        <p class="align-self-center">Need immediate support? <br>(101) 999-9999</p>
                    </div>
                    <div class="content col-md-12 col-lg-3 d-flex justify-content-center">
                        <div class="btn btn-lg btn-secondary align-self-center"> Email Support &gt; </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
