<div class="home-wrapper">
    <div class="search">
        <div class="search-bar">
            <input type="text" placeholder="Find HCP's..." value="" />
        </div>
        <div class="search-tags">
            By: HCP Name, HCP ID#, HCP Specialty, Location
        </div>
    </div>
    <div class="modal-left">
        <div class="content-left">
            <div class="icon">
                <i class="icon ion-md-person"></i>
            </div>
        </div>
        <div class="content-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sunt expedita voluptate facilis,
                rerum officia blanditiis veniam ipsa nulla architecto necessitatibus sapiente delectus quia aut</p>
            <div class="btn-lg btn-primary">
                Click to Add HCP >
            </div>
            <div class="btn-lg btn-secondary">
                Browse Full List of HCPs >
            </div>
        </div>
    </div>
    <div class="modal-right">
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, temporibus eveniet? Quia eum alias</p>
            <div class="btn-lg btn-secondary">
                Button 3
            </div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, temporibus eveniet? Quia eum alias</p>
            <div class="btn-lg btn-secondary">
                Button 4
            </div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, temporibus eveniet? Quia eum alias</p>
            <div class="btn-lg btn-secondary">
                Button 5
            </div>
        </div>
    </div>
    <div class="modal-full">
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, temporibus eveniet? Quia eum alias</p>
            <div class="btn-lg btn-secondary">
                Button 6
            </div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, temporibus eveniet? Quia eum alias</p>
            <div class="btn-lg btn-secondary">
                Button 7
            </div>
        </div>
    </div>
    <div class="modal-tech">
        <div class="content">
            <h1>Tech Support</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat veniam eligendi minima.
                Voluptate possimus</p>
        </div>
        <div class="content">
            <p>Need immediate support? (101)999-9999</p>
        </div>
        <div class="content">
            <div class="btn-lg btn-disabled">
                Email Support >
            </div>
        </div>
    </div>
</div>
