:host {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    .home-wrapper {
        padding: 5%;
        width: 100%;

        .search {
            .search-bar {
                position: relative;

                input[type=text] {
                    width: 100%;
                    border: none;
                    border-bottom: 11px solid #007bff;
                    font-size: 25px;

                    &:focus {
                        outline: none;
                    }
                }

                .search-btn {
                    position: absolute;
                    right: 0;
                }
            }
        }

        .modal-top {
            .modal-left {
                .card {
                    .icon {
                        font-size: 9vw;
                        text-align: center;
                    }
                }
            }

            .modal-right {
                .card {
                    height: 100%;
                }
            }
        }

        .modal-full {
            display: flex;
            justify-content: center;
        }
    }
}
