:host {

    p {
        margin: 0;
    }
    
    position: relative;
    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            p {
                font-size: 20px;
            }
        }

        .inner-content {
            padding: 5%;
            width: 100%;

            .modal-top {
                .modal-left {
                    .card {
                        .icon {
                            font-size: 9vw;
                            text-align: center;
                        }
                    }
                }

                .modal-right {
                    .card {
                        height: 100%;
                    }
                }
            }

            .modal-full {
                display: flex;
                justify-content: center;
            }
        }
    }
}
