<div class="home-wrapper">
    <div class="search pb-5">
        <div class="search-bar">
            <input class="search-input" type="text" placeholder="Find HCP's..." value="" />
            <div class="search-btn btn btn-primary btn-lg" [routerLink]="[ '/list']">
                <i class="icon ion-md-search"></i>
            </div>
        </div>
        <div class="search-tags">
            By: HCP Name, HCP ID#, HCP Specialty, Location
        </div>
    </div>
    <div class="modal-top row">
        <div class="modal-left col-md-5 pb-5">
            <div class="card">
                <div class="card-body row">
                    <div class="content-left col-md-6">
                        <div class="icon">
                            <i class="icon ion-md-person"></i>
                        </div>
                    </div>
                    <div class="content-right col-md-6">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sunt
                            expedita voluptate
                            facilis,
                            rerum officia blanditiis veniam ipsa nulla architecto necessitatibus sapiente delectus quia
                            aut</p>
                        <div class="btn-lg btn-primary my-2">
                            Click to Add HCP >
                        </div>
                        <div class="btn-lg btn-secondary my-2">
                            Browse Full List of HCPs >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-right col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="content row">
                        <p class="col-md-9 py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
                            temporibus eveniet? Quia eum</p>
                        <div class="col-md-3 py-1">
                            <div class="btn btn-lg btn-secondary">
                                Button 3 >
                            </div>
                        </div>
                    </div>
                    <div class="content row">
                        <p class="col-md-9 py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
                            temporibus eveniet? Quia eum</p>
                        <div class="col-md-3 py-1">
                            <div class="btn btn-lg btn-secondary">
                                Button 4 >
                            </div>
                        </div>
                    </div>
                    <div class="content row">
                        <p class="col-md-9 py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
                            temporibus eveniet? Quia eum</p>
                        <div class="col-md-3 py-1">
                            <div class="btn btn-lg btn-secondary">
                                Button 5 >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-full py-4">
        <div class="card">
            <div class="card-body">
                <div class="content row">
                    <p class="col-md-9 py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
                        temporibus eveniet? Quia eum elit. Eum, temporibus eveniet? Quia eum</p>
                    <div class="col-md-3 py-1">
                        <div class="btn btn-lg btn-secondary px-5">
                            Button 6 >
                        </div>
                    </div>
                </div>
                <div class="content row">
                    <p class="col-md-9 py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
                        temporibus eveniet? Quia eum Eum, temporibus eveniet? Quia eum</p>
                    <div class="col-md-3 py-1">
                        <div class="btn btn-lg btn-secondary px-5">
                            Button 7 >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-tech">
        <div class="card">
            <div class="card-body row">
                <div class="content py-3 col-md-5">
                    <h1>Tech Support</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat veniam eligendi
                        minima.
                        Voluptate possimus</p>
                </div>
                <div class="content py-3 col-md-5 align-self-center">
                    <p class="align-middle">Need immediate support? (101)999-9999</p>
                </div>
                <div class="content py-3 col-md-2 align-self-center">
                    <div class="btn btn-lg btn-secondary">
                        Email Support >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
