<ul class="list-group text-dark">
    <li class="list-group-item active">
        <div class="text-center">Filter your results</div>
    </li>
    <li class="list-group-item">
        <div class="d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getTerritory($event, 'territory')"
                    [checked]="filterTypes.territory === 'territory' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    MY TERRITORY
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getTerritory($event, 'spend')"
                    [checked]="filterTypes.territory === 'spend' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    MY CRM & SPEND
                </label>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="text">
            Name
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getNameType($event, 'first_name')"
                    [checked]="filterTypes.selectName === 'first_name' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    FIRST
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getNameType($event, 'middle_name')"
                    [checked]="filterTypes.selectName === 'middle_name' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    MIDDLE
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getNameType($event, 'last_name')"
                    [checked]="filterTypes.selectName === 'last_name' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    LAST
                </label>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="text">
            Status
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getStatus($event, false)" [checked]="filterTypes.status === false ? true : null"
                    id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    ACTIVE
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="getStatus($event, 'DESEASED')"
                    [checked]="filterTypes.status === 'DESEASED' ? true : null" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    DESEASED
                </label>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="text">
            Location
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group py-2 w-100">
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="filterTypes.locationSpecs"
                    (change)="getLocationSpecs($event)" placeholder="Location">
                <small id="emailHelp" class="form-text text-muted">State, City, or Zip Code</small>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex justify-content-between">
            <div class="form-group p-2 w-50">
                <input type="text" class="form-control" id="exampleInputEmail1" (change)="getDegree($event)"
                    [(ngModel)]="filterTypes.degree" placeholder="">
                <small id="emailHelp" class="form-text text-muted">Degree</small>
            </div>
            <div class="form-group p-2 w-50">
                <input type="text" class="form-control" (change)="getSpecialty($event)" [(ngModel)]="filterTypes.specialty"
                    placeholder="">
                <small id="emailHelp" class="form-text text-muted">Specialty</small>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="btn btn-primary" (click)="closeFilterModal()">
                Apply
            </div>
            <div class="btn btn-primary ml-3" (click)="openSearchModal(); closeFilterModal()">
                New Search
            </div>
        </div>
    </li>
</ul>
