:host {
    position: absolute;
    left: -5px;
    z-index: 1;

    label {
        font-size: 12px;
    }

    .list-group-item {
        &.active {
            background-color: #6c757d;
            border-color: white;
        }
    }
}
