@import 'variables';

:host {
    agm-map {
        position: absolute;
        width: 100%;
        height: 80vh;
    }

    .checkbox-wrapper {
        position: absolute;
        left: 5px;
        bottom: 80px;   
        padding: 10px;
        background: $blue;
    }
}
