@import 'variables';

:host {
    agm-map {
        position: absolute;
        width: 100%;
        height: 80vh;
    }

    .checkbox-wrapper {
        position: absolute;
        right: 35px;
        top: 200px;
        padding: 10px;
        background: $blue;
    }
}
