<div class="modal-body">
    <div class="d-flex justify-content-center flex-column">
        <div class="align-self-center text-center">
            <h2 class="my-5">Address Validation</h2>
            <p class="my-5">Please review your address and make any necessary changes.</p>
        </div>
        <div class="input-group d-flex justify-content-center w-50 align-self-center">
            <div class="form-group d-flex flex-row align-self-center">
                <input type="radio">
                <div class="mx-5">{{ entries.addressEntry.address1 }}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-outline-dark mr-5" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-outline-dark mr-5" (click)="submit()">Submit</button>
</div>
