<div class="m-5">
    <div class="row">
        <div class="logo col-md-4">
            <img src="/assets/welcome/incyte_logo.png">
        </div>
        <div class="col-md-4">
            <h2>Welcome</h2>
            <p>Login Screen</p>
            <div id="okta-signin-container"></div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">New User</h5>
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet blanditiis fugit
                            recusandae quisquam, quos omnis eum voluptas minus perspiciatis culpa magnam, iure quam
                            deleniti mollitia labore asperiores? Tenetur, recusandae?</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet blanditiis fugit
                            recusandae quisquam, quos omnis eum voluptas minus perspiciatis culpa magnam, iure quam
                            deleniti mollitia labore asperiores? Tenetur, recusandae?</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet blanditiis fugit
                            recusandae quisquam, quos omnis eum voluptas minus perspiciatis culpa magnam, iure quam
                            deleniti mollitia labore asperiores? Tenetur, recusandae?</li>
                        <ul>
                            <li>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis suscipit distinctio soluta, omnis at facilis. Excepturi ea eaque earum deleniti id repellendus, quia quae dignissimos rem blanditiis impedit! Id, pariatur?`
                            </li>
                            <li>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis suscipit distinctio soluta, omnis at facilis. Excepturi ea eaque earum deleniti id repellendus, quia quae dignissimos rem blanditiis impedit! Id, pariatur?`
                            </li>
                            <li>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis suscipit distinctio soluta, omnis at facilis. Excepturi ea eaque earum deleniti id repellendus, quia quae dignissimos rem blanditiis impedit! Id, pariatur?`
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
