<div class="list-wrapper bg-secondary text-white px-3">
    <div class="list-filters row d-flex justify-content-between">
        <div class="left-content col-md-6 col-lg-6">
            <div class="d-flex justify-content-sm-start justify-content-center flex-row">
                <div class="filter-actions d-flex flex-row">
                    <div (click)="openFilters()" class="action p-2 d-flex justify-content-center flex-column">
                        <div class="icon align-self-center">
                            <i class="icon" [ngClass]="openFilter ? 'ion-md-close': 'ion-md-options'"></i>
                        </div>
                        <div class="option px-2 pb-2 align-self-center">
                            {{ openFilter ? 'Close Filters' : 'Filters'}}
                        </div>
                    </div>
                    <div (click)="openMore()" *ngIf="smFiltersShow" class="action p-2 d-flex justify-content-center flex-column">
                        <div class="icon align-self-center">
                            <i class="icon" [ngClass]="smFiltersToggle ? 'ion-md-close': 'ion-md-funnel'"></i>
                        </div>
                        <div class="option px-2 pb-2 align-self-center">
                            {{ smFiltersToggle ? 'Close' : 'More'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content col-md-6 col-lg-6">
            <div *ngIf="smFiltersToggle" class="d-flex justify-content-sm-end justify-content-center flex-row">
                <div class="filter-actions d-flex flex-sm-row flex-column">
                    <div class="action p-2 d-flex justify-content-center flex-sm-column">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
                                {{ sortByText }}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item" (click)="sortBy('first_name', 'First Name')">First Name</button>
                                <button class="dropdown-item" (click)="sortBy('last_name', 'Last Name')">Last Name</button>
                                <button class="dropdown-item" (click)="sortBy('city', 'City')">City</button>
                                <button class="dropdown-item" (click)="sortBy('state', 'State')">State</button>
                                <button class="dropdown-item" (click)="sortBy('zip5', 'Zip Code')">ZIP</button>
                            </div>
                        </div>
                    </div>
                    <div class="action p-2 d-flex justify-content-center flex-sm-column">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
                                {{ currentView || 'Change View' }}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item" (click)="getView('List')">List</button>
                                <button class="dropdown-item" (click)="getView('Cards')">Cards</button>
                                <button class="dropdown-item" (click)="getView('Map')">Map</button>
                            </div>
                        </div>
                    </div>
                    <div class="action p-2 d-flex justify-content-center flex-sm-column">
                        <div class="icon align-self-center">
                            <i class="icon ion-md-download"></i>
                        </div>
                        <div class="option px-2 pb-2 align-self-center">
                            Download
                        </div>
                    </div>
                    <div class="action p-2 d-flex justify-content-center flex-sm-column">
                        <div class="icon align-self-center">
                            <i class="icon ion-ios-share"></i>
                        </div>
                        <div class="option px-2 pb-2 align-self-center">
                            Send
                        </div>
                    </div>
                    <!-- <div class="action p-2 d-flex justify-content-center flex-column">
                        <div class="icon align-self-center">
                            <i class="icon ion-md-map"></i>
                        </div>
                        <div class="option px-2 pb-2 align-self-center">
                            Map
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <app-filters *ngIf="openFilter" (closeFilter)="getFilterStatus($event)"></app-filters>
</div>
