<div class="modal-body">
    <label>Name</label>
    <div class="form-wrap level-1 d-flex justify-content-between">
        <div class="form-input">
            <label for="basic-url">*Last Name</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="hcpEntry.last_name" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="form-input">
            <label for="basic-url">*First Name</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="hcpEntry.first_name" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="form-input">
            <label for="basic-url">Middle Name</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="hcpEntry.middle_name" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="form-input">
            <label for="basic-url">Suffix</label>
            <div class="dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{ hcpEntry.suffix || 'Suffix'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="getSuffix('Mr.')">Mr.</button>
                        <button class="dropdown-item" (click)="getSuffix('Ms.')">Ms.</button>
                        <button class="dropdown-item" (click)="getSuffix('Dr.')">Dr.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label>Details</label>
    <div class="form-wrap level-2 d-flex justify-content-start">
        <div class="form-input mr-5">
            <label for="basic-url">Add Reason</label>
            <div class="dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{ hcpEntry.add_reason || 'Add Reason'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="getReason('CRM & Spend')">CRM & Spend</button>
                        <button class="dropdown-item" (click)="getReason('Spend Only')">Spend Only</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-input mr-5">
            <label for="basic-url">Degree</label>
            <div class="dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{ hcpEntry.degree || 'Degree'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="getDegree('MD')">MD</button>
                        <button class="dropdown-item" (click)="getDegree('DO')">DO</button>
                        <button class="dropdown-item" (click)="getDegree('NP')">NP</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-input mr-5">
            <label for="basic-url">Specialty</label>
            <div class="dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{ hcpEntry.specialty || 'Specialty'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="getSpecialty('HEM')">HEM</button>
                        <button class="dropdown-item" (click)="getSpecialty('GS')">GS</button>
                        <button class="dropdown-item" (click)="getSpecialty('ON')">ON</button>
                        <button class="dropdown-item" (click)="getSpecialty('IM')">IM</button>
                        <button class="dropdown-item" (click)="getSpecialty('US')">US</button>
                        <button class="dropdown-item" (click)="getSpecialty('BBK')">BBK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label>Contact Info</label>
    <div class="form-wrap level-3 d-flex justify-content-between">
        <div class="form-input w-50 mr-4">
            <label for="basic-url">*Address 1</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="addressEntry.address1" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="form-input w-50">
            <label for="basic-url">Address 2</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="addressEntry.address2" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </div>
    </div>
    <br>
    <div class="form-wrap level-3 d-flex justify-content-between">
        <div class="form-input mr-5">
            <label for="basic-url">*City</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="addressEntry.city" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="form-input mr-5">
            <label for="basic-url">*State</label>
            <div class="dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{ addressEntry.state || 'State'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="">
                        <button *ngFor="let state of stateList" class="dropdown-item" (click)="getState(state['abbreviation'])">{{
                            state['abbreviation'] }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-input mr-5">
            <label for="basic-url">*ZIP</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="addressEntry.zip5" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-outline-dark mr-5" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark mr-5" (click)="submit()">Submit</button>
</div>
