<div class="card">
    <div class="card-body">
        <table class="table table-responsive-sm table-borderless">
            <thead>
                <tr>
                    <th scope="col">ID#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Resolve_Type</th>
                    <th scope="col">Type</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Resolve_Lead</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1,2,3,4,5]">
                    <th scope="row">184942</th>
                    <td class="text-success">Done</td>
                    <td>Auto</td>
                    <td>HCP new address</td>
                    <td>Lorem ipsum dolor sit amet consectetur</td>
                    <td class="text-primary">
                        <a href="/home">LBecker <i class="icon ion-md-share-alt"></i></a>
                    </td>
                    <td>01/05/2019</td>
                    <td>05/13/2019</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
