<app-navigation></app-navigation>
<div class="hcp-details-wrap">
    <div class="control-bar d-flex justify-content-between flex-row">
        <div class="left-controls d-flex flex-row">
            <div class="back-btn">
                <i class="icon ion-md-arrow-back"></i>
                Back to Search Results
            </div>
            <div class="edit-btn">
                <i class="icon ion-ios-create"></i>
                Click to Edit
            </div>
        </div>
        <div class="right-controls">
            <div class="share-btn">
                <i class="icon ion-md-share"></i>
                Smart Share
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="hcp-left d-flex flex-column">
                <div class="hcp-level-1 d-flex flex-column">
                    <div class="hcp-left 1">
                        <u class="text-primary">ACTIVE <i class="icon ion-ios-arrow-down"></i></u>
                    </div>
                    <div class="hcp-left 2">
                        Prof# 4023994023
                    </div>
                    <div class="hcp-left 3">
                        NPI# 194535345
                    </div>
                    <div class="hcp-left 4">
                        DEA# AS5353453
                    </div>
                    <div class="hcp-left 4">
                        ME# 8690436045
                    </div>
                </div>
                <hr>
                <div class="hcp-level-2">
                    <div class="hcp-left 1">
                        PDRP Opt Out: <u class="text-primary">YES <i class="icon ion-ios-arrow-down"></i></u>
                    </div>
                    <div class="hcp-left 2">
                        AMA No Contact: <u class="text-primary">NO <i class="icon ion-ios-arrow-down"></i></u>
                    </div>
                </div>
                <hr>
                <div class="hcp-level-3">
                    <div class="hcp-left 1">
                        Spend: <u class="text-primary">YES <i class="icon ion-ios-arrow-down"></i></u>
                    </div>
                    <div class="hcp-left 2">
                        CTMS: <u class="text-primary">NO <i class="icon ion-ios-arrow-down"></i></u>
                    </div>
                    <div class="hcp-left 3">
                        CTMS E-Mail: <br>
                        <div class="text-primary">email@yahoo.com</div>
                    </div>
                </div>
                <hr>
                <div class="hcp-level-4">
                    <label><small><u>Notes:</u></small></label>
                    <div class="card">
                        <div class="card-body p5">
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
                                aperiam
                                vero, quam alias libero voluptatum voluptates ab accusamus omnis voluptas obcaecati
                                quae
                                ipsa
                                vitae. Commodi saepe eaque atque eum sit!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 d-flex flex-column hcp-details-right">
            <div class="hcp-details-top">
                <div class="hcp-btn-labels d-flex flex-row">
                    <div class="hcp-btn-label btn btn-block btn-light mx-1"><u class="text-primary">HCP Details</u></div>
                    <div class="hcp-btn-label btn btn-block btn-primary mx-1">Alignment</div>
                    <div class="hcp-btn-label btn btn-block btn-primary mx-1">State License</div>
                    <div class="hcp-btn-label btn btn-block btn-primary mx-1">Change Requests</div>
                    <div class="hcp-btn-label btn btn-block btn-primary mx-1">Address History</div>
                </div>
            </div>
            <div class="hcp-details-bottom">
                <div class="hcp-details-1 d-flex flex-column">
                    <label><small>Personal Info</small></label>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-3">
                                First Name: <b class="text-primary">PAUL</b>
                            </div>
                            <div class="field col-md-3">
                                Last Name: <b class="text-primary">JOHN</b>
                            </div>
                            <div class="field col-md-3">
                                Middle Name: <b class="text-primary">SMITH</b>
                            </div>
                            <div class="field col-md-3">
                                Suffix: <b class="text-primary">MR.</b>
                            </div>
                        </div>
                    </div>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-3">
                                Gender: <b class="text-primary">MALE</b>
                            </div>
                            <div class="field col-md-3">
                                Birth Year: <b class="text-primary">1986</b>
                            </div>
                            <div class="field col-md-3">
                                Degree: <b class="text-primary">MD</b>
                            </div>
                            <div class="field col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-3">
                                Specialty: <b class="text-primary">PEDIATRICS</b>
                            </div>
                            <div class="field col-md-3">
                            </div>
                            <div class="field col-md-3">
                                Specialty Description:
                            </div>
                            <div class="field col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-6">
                                Secondary Specialty:
                            </div>
                            <div class="field col-md-6">
                                Secondary Specialty Description:
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="hcp-details-2">
                    <label><small>Contact Info</small></label>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-6">
                                Phone: <b class="text-primary">510-232-3364</b>
                            </div>
                            <div class="field col-md-6">
                                Seconday Phone: <b class="text-primary">124-224-2442</b>
                            </div>
                        </div>
                    </div>
                    <div class="fields mt-3">
                        <div class="row">
                            <div class="field col-md-6">
                                E-Mail: <b class="text-primary">user@website.com</b>
                            </div>
                            <div class="field col-md-6">
                                Website: <b class="text-primary">http://hcpwebsite.com</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hcp-details-3">
                    <label><small>Addresses</small></label>
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>ZIP</th>
                                <th>Best Loc</th>
                                <th>HEM <small>Address Type</small></th>
                                <th>MSL <small>Address Type</small></th>
                                <th>ONE <small>Address Type</small></th>
                                <th>HEM <small>Territory</small></th>
                                <th>MSL <small>Territory</small></th>
                                <th>ONE <small>Territory</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer-btns">
                <div class="buttons d-flex justify-content-center flex-row">
                    <div class="save-btn btn btn-block">
                        Save
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
