/* You can add global styles to this file, and also import other style files */
@import 'variables';

$ionicons-font-path: '~ionicons/dist/fonts';
@import '~ionicons/dist/scss/ionicons.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-dialog {
    &.modal-xl {
        width: 97vw;
    }
}

.cdk-overlay-container {
    position: fixed;
    z-index: 9999;

    .mat-autocomplete-panel {
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #aaa9a9;
        }

        &::-webkit-scrollbar-track {
            background: #e4e4e4;
        }
    }
}