<div class="modal-body">
    <div class="d-flex justify-content-center flex-column">
        <div class="align-self-center text-center">
            <h3 class="my-5"><u>Add Healthcare Professional</u></h3>
            <h2 class="my-5">Submission Confirmation</h2>
            <h2 class="my-5">Request # {{ entries.hcpEntry.req_id }}</h2>
            <h2 class="my-5">We received your request to Add Healthcare Professional it is now submitted to the request process.</h2>
        </div>
    </div>
</div>
