<div class="modal-body">
    <div class="d-flex justify-content-center flex-column">
        <div class="align-self-center text-center">
            <h2 class="my-5">Submission Confirmation</h2>
            <h2 class="my-5"><b>Request # {{ entries.hcpEntry.req_id }}</b></h2>
            <h2 class="my-5"><b>We received your request to Add Healthcare Professional it is now submitted to the request process.</b></h2>
            <h2 class="my-5"><b>Thank You!</b></h2>
            <p class="my-5">For more information contact: <span class="text-primary"><b>Lorem ipsum dolor sit amet ></b></span></p>
        </div>
    </div>
</div>
