<div class="d-flex justify-content-between flex-row bg-primary navbar-wrap">
    <div class="align-self-center left-content">
        <div class="user d-flex justify-content-center flex-column align-items-center">
            <p>JEFF MILLER</p>
            <i class="icon ion-md-person"></i>
            <p>State: CA</p>
        </div>
    </div>
    <div class="align-self-center center-content">
        <div class="icons d-flex justify-content-center flex-row">
            <div class="d-flex justify-content-center flex-column px-3">
                <i class="icon ion-md-search"></i>
                New Search
            </div>
            <div class="d-flex justify-content-center flex-column px-3">
                <i class="icon ion-md-person"></i>
                Add HCP
            </div>
        </div>
    </div>
    <div class="align-self-center right-content">
        <div class="icons d-flex justify-content-center flex-row">
            <i class="icon ion-md-information-circle-outline"></i>
            <i class="icon ion-md-cog"></i>
            <i class="icon ion-ios-more"></i>
        </div>
    </div>
</div>
